@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Planner</h1>
    <h3>Register or Log in to begin planning!</h3>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Subjects</h2>
        <p>
            Start by creating a subject for your event.
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Subjects", "Index", "Subject", null, new { @class = "btn btn-primary btn-large" })
        }
    </div>

    <div class="col-md-4">
       
            <h2 style="color: black">@Html.ActionLink("Locations", "Index", "Location")</h2>
       

            <p>Add a location for your event here.</p>
   
           
        </div>

    <div class="col-md-4">
        <h2>Events</h2>
        <p>Add a new event!</p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Events", "Index", "Event", null, new { @class = "btn btn-primary btn-large" })
        }

        </div>
</div>