body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("");
}

* {
    font-family: 'Abel', sans-serif;
    font-weight: 500;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.titlehead {
    padding-top: 5em;
    text-align: center;
}

#homenav {
    padding-top: 4em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:hover {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

a {
    color: slategrey;
}

h2 {
    color: cadetblue;
}

#numborder {
    border: 2px solid lightgrey;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

th {
    font-weight: 600;
    color: mediumslateblue;
}

.SubjectBG {
    background: url(Assets/pink-watercolor-background_3590-13.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

table.table-bordered {
    border: 1px solid slategrey;
    margin-top: 20px;
}

    table.table-bordered > thead > tr > th {
        border: 1px solid slategrey;
    }

    table.table-bordered > tbody > tr > td {
        border: 1px solid slategrey;
    }
